<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>280545181435-qq3ad4lebljthnust4lk2md19ldltc7k.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.280545181435-qq3ad4lebljthnust4lk2md19ldltc7k</string>
        <key>API_KEY</key>
        <string>AIzaSyCJnVoOTfLEr-Wf5x2mkwiJEmP1oiT39Es</string>
        <key>GCM_SENDER_ID</key>
        <string>280545181435</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.liuhengyu.SalonApp</string>
        <key>PROJECT_ID</key>
        <string>salon-f992e</string>
        <key>STORAGE_BUCKET</key>
        <string>salon-f992e.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:280545181435:ios:c3744e9382ad9cdf</string>
        <key>DATABASE_URL</key>
        <string>https://salon-f992e.firebaseio.com</string>
    </dict>
</plist>
